html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, grey 0.5%, black 5%, black 100%);
  background-size: 40px 40px;
  animation: move 4s linear infinite;
}
.buttona {
  --😀: rgb(40, 183, 135);
  --😀😀: #2c9992;
  --😀😀😀: #16747963;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: 0.75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transform: skew(-10deg);
  transition: all 0.1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));
}

.buttona:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(--😀😀😀);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100%;
}

.full-url {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 59vw;
}

.short-url {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.7rem;
}

h1,
h2 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 20px);
  padding: 0.5rem;
  margin-bottom: 0.7rem;
}

button {
  padding: 0.1rem;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 1.3rem;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.7rem;
  text-align: left;
  color: #9eb3c2;
}

th {
  background-color: #333;
  color: #9eb3c2;
}

a {
  text-decoration: none;
  color: rgb(40, 183, 135);
}

a:hover {
  text-decoration: underline;
}

.buttontd {
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.loader {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #333;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #9eb3c2;
}

svg text {
  animation: stroke 3.5s forwards alternate;
  stroke-width: 90px;
  stroke: #f5f5f5;
  font-size: 19.5rem;
  letter-spacing: 0.4rem;
}

.header-container {
  padding: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    min-height: 75%;
  }

  table {
    font-size: 0.5rem;
  }

  button {
    font-size: 0.7rem;
  }

  th,
  td {
    padding: 0.2rem;
  }

  .buttontd {
    padding: 0.2rem;
    text-align: center;
    align-self: center;
  }

  .full-url {
    width: 49vw;
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    background: linear-gradient(
      135deg,
      grey 0.5%,
      whitesmoke 5%,
      whitesmoke 100%
    );
    background-size: 40px 40px;
    animation: move 3s linear infinite;
    color: black;
  }

  h1 {
    color: white;
  }

  a:hover {
    color: gold;
  }
}
