html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  padding: 0.5rem;
}

.container {
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100%;
}

.full-url {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 68vw;
}

h1,
h2 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 20px);
  padding: 0.5rem;
  margin-bottom: 0.7rem;
}

button {
  padding: 0.1rem;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 1.3rem;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.7rem;
  text-align: left;
  color: #9eb3c2;
}

th {
  background-color: #333;
  color: #9eb3c2;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.buttontd {
  /* padding: 0.2rem ; */
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.loader {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #333;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #9eb3c2;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

@media (max-width: 945px) {
}

@media (max-width: 945px) {
  .container {
    padding: 0.5rem;
    min-height: 85%;
  }
  table {
    font-size: 0.5rem;
  }
  button {
    font-size: 0.7rem;
  }
  th,
  td {
    padding: 0.2rem;
  }
  .buttontd {
    padding: 0.2rem;
    text-align: center;
    align-self: center;
  }
  .full-url {
    width: 50vw;
  }
}
