html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, grey 0.5%, #333 5%, #333 100%);
  background-size: 40px 40px;
  animation: move 4s linear infinite;
}

.buttona {
  --😀: rgb(40, 183, 135);
  --😀😀: #2c9992;
  --😀😀😀: #16747963;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: 0.75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transform: skew(-10deg);
  transition: all 0.1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));
  margin: 1rem 0 0 1rem;
}

.buttona:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(--😀😀😀);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
}

.full-url {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 49vw;
}

h1,
h2 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.inputbox {
  position: relative;
}

.inputbox input {
  padding: 0.6rem;
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: white;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgb(40, 183, 135);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
  opacity: 0.7;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
}

input:is(:-webkit-autofill, :autofill),
input.span:is(:-webkit-autofill, :autofill) {
  border: 3px dotted orange;
  height: 60%;
  background: rgb(40, 183, 135);
  /* transition: 0.5s; */
}

.copy-btn {
  background-color: transparent;
  color: rgb(180, 176, 176);
}

.copy-btn:hover {
  color: rgb(40, 183, 135);
}

.dlt-button {
  color: rgb(180, 176, 176);
}

.dlt-button:hover {
  color: rgb(40, 183, 135);
}

button {
  padding: 0.1rem;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 1.3rem;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #dddddd66;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(40, 183, 135);
}

a:hover {
  text-decoration: underline;
}

.actions-td {
}

.buttontd {
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.loader {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #333;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #9eb3c2;
}

svg text {
  animation: stroke 3.5s forwards alternate;
  stroke-width: 90px;
  stroke: #f5f5f5;
  font-size: 19.5rem;
  letter-spacing: 0.4rem;
}

.header-container {
  padding: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    min-height: 80%;
  }

  table {
    font-size: 0.5rem;
  }

  button {
    font-size: 0.7rem;
  }

  th,
  td {
    padding: 0.2rem;
  }

  .buttontd {
    padding: 0.2rem;
    text-align: center;
    align-self: center;
  }

  .buttona {
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.7rem;
    box-shadow: 0 6px 0 var(--😀😀);
    filter: drop-shadow(0 10px 15px var(--😀😀😀));
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    background: linear-gradient(
      135deg,
      grey 0.5%,
      whitesmoke 5%,
      whitesmoke 100%
    );
    background-size: 40px 40px;
    animation: move 3s linear infinite;
    color: #333;
  }

  h1 {
    color: white;
  }

  a:hover {
    color: gold;
  }

  svg text {
    animation: stroke 3.5s forwards alternate;
    stroke-width: 90px;
    stroke: white;
    font-size: 19.5rem;
    letter-spacing: 0.4rem;
  }
  .inputbox input:focus ~ span {
    color: #333;
  }
}
